# Web framework
Flask==2.3.2
gunicorn==21.2.0
Click==8.1.7
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
Werkzeug==2.3.4

# Data processing
numpy>=1.23.5
scipy>=1.10.1
pandas>=1.5.3
joblib>=1.2.0
cloudpickle>=2.2.1

# Machine learning
scikit-learn>=1.2.2
tpot>=0.13.10

# Visualization
matplotlib>=3.7.1
seaborn>=0.12.2

# SSL certificates
certifi>=2023.7.22
